/* brand color palette */
:root {
  --primary: rgb(39, 37, 39);
  --secondary: rgba(232, 102, 236, 1);
  --white: rgb(255, 255, 255);
}

.custom-btn {
  background-color: var(--secondary);
}

.contact-container {
  margin-top: 8rem;
  justify-content: center;
}

label,
.error-text {
  color: var(--white);
}

.custom-card {
  background-color: var(--primary);
}

.form-container {
  justify-content: center;
}

.form-input {
  padding: 0.5rem;
  margin: 0.5rem;
}

@media screen and (max-width: 850px) {
  .contact-container {
    justify-content: center;
  }
}
